<%- contentFor('pageSectionA') %>

<h1>Produtos</h1>
<% produtos.forEach( function (produto) {%>
    <div>
        <p>Id do produto : <%=produto.id %></p>
        <p><%=produto.nome %></p>
        <p><%=produto.descricao %></p>
        <p>$<%=produto.preco %>.00</p>
    </div>
<%}) %>